.footer
    .footer__top-side
        .top-side.container
            a(href='index.html').footer__logo
            .footer__list
                ul.footer__menu
                    li.menu__item #[a.menu__link(href='#') Карьера]
                    li.menu__item #[a.menu__link(href='vacancy.html') Вакансии]
                    li.menu__item #[a.menu__link(href='care.html') Герои c.a.r.e]
                ul.footer__menu
                    li.menu__item #[a.menu__link(href='referral.html') Friend Referral]
                    li.menu__item #[a.menu__link(href='benefits.html') Benefits]
                    li.menu__item #[a.menu__link(href='faq.html') FAQ]
            .footer__contacts
                .contacts__icon
                    i.fas.fa-phone
                .contacts__info
                    .contacts__phone 8 (727) 469-63-58
                    .contacts__phone 8 (727) 390-57-07
                    .contacts__socials
                        a(href='#').contacts__social.twitter
                            i.fab.fa-twitter
                        a(href='#').contacts__social.facebook
                            i.fab.fa-facebook-f
                        a(href='#').contacts__social.instagram 
                            i.fab.fa-instagram
    .footer__bottom-side
        .show-all(style='display: none;')
        .bottom-side.container
            .footer__copyright Copyright &copy 2018
            .footer__designed Designed by Slonworks
