.description
    .description__image(style="background-image: url(static/img/"+description.image+");")
    .description__info
        h3.description__title= description.title
        p.description__text= description.text