.description {
    width: 46%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 60px;

    &__image {
        width: 65px;
        height: 70px;
        background-size: contain!important;
        background-position: center;
        background-repeat: no-repeat;
    }
    &__info {
        width: 78%;
    }
    &__title {
        font-size: 22px;
        line-height: 26px;
        color: $brown;
        padding-bottom: 20px;
    }
    &__text {
        font-size: 15px;
        line-height: 20px;
        color: gray;
    }
}

@media (max-width: $tablet) {
    .description {
        padding-bottom: 30px;
        width: 100%; 
        &__info {
            width: 70%;
        }
        &__title {
            padding-bottom: 10px;
        }
    }
}