body {
    font-family: Raleway;
    color: $dark-gray;
    overflow-x: hidden;
}
.body--fixed {
    height: 100%;
    overflow: hidden;
}

body * {
    transition-duration: 0.2s;
}
a {
    color: inherit;
    cursor: pointer;
}
p {
    font-size: 15px;
    line-height: 29px;
}
h2 {
    font-family: KZBlockPro;
    font-size: 48px;
    text-transform: uppercase;
    color: $dark-gray;
    text-align: center;
}
h3 {
    font-family: KZBlockPro;
    font-size: 32px;
    text-transform: uppercase;
    color: white;
}

.base-button {
    width: 305px;
    height: 70px;
    border-radius: 15px;
    display: block;
    line-height: 75px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-family: KZBlockPro;
    font-size: 30px;
    background-color: $yellow;
    margin: 0 auto;
}

.base-button:hover {
    background-color: $dark-yellow;
}
.container {
    margin: 0 auto;
    max-width: $laptop;
    width: 100%;
    box-sizing: border-box;
    position: relative;
}

input,select,textarea,option {
    font-size: 12px;
    letter-spacing: 1px;
    color: gray;
    font-family: "Raleway";
    border-bottom: 2px solid $gray;
    font-weight: bold;
    padding: 20px;
    margin-bottom: 30px;
    box-sizing: border-box;
    position: relative;
}
input[type='checkbox'],input[type='radio'],input[type='file'],select,option {
    width: 0px;
    height: 0px;
    margin: 0!important;
    box-sizing: border-box;
    padding: 0!important;
    z-index: -10;
}
select,option {
    width: 0px!important;
    height: 0px!important;
    margin: 0!important;
    border: 0!important;
    box-sizing: border-box!important;
    z-index: -10;
}
input::placeholder,select::placeholder,textarea::placeholder, select, option {
    text-transform: uppercase;
}
select:focus, option:focus,a:focus {
    outline: none;

}
textarea {
    border: 2px solid $gray;
    border-radius: 10px;
    background-color: #fefefe;
}

@media (max-width: $laptop) {
    .container {
        padding-right: 10px;
        padding-left: 10px;
    }
}

@media (max-width: $mobile) {
    .container {
        padding-right: 15px;
        padding-left: 15px;
    }
    .base-button {
        width: 270px;
        height: 60px;
        font-size: 26px;
        line-height: 65px;
        border-radius: 12px;
    }
}