$wrapL: 1600px;
$wrap: 1360px;
$desktop: 1200px;
$laptopLg: 1100px;
$hdr: 1030px;
$laptop: 985px;
$laptopXs: 860px;
$tablet: 765px;
$mobileLg: 600px;
$mobileL: 560px;
$mobile: 480px;
$mobileXs: 360px;


$brown: #5d3d32;
$green: #71ba00;
$bg-green: #5da931;

$red: #dd2b1b;;
$dark-red: #b90f00;

$orange: #ee7700;

$yellow: #f7a800;
$dark-yellow: #d89800;

$dark-blue: #174ea3;
$blue: #2078ba;
$light-blue: #9ec4e7;

$dark-gray: #2f3133;
$gray: #e4e4e4;
$light-gray: #f4f3f2;