extends ../layout/base

block variables
    - pageTitle = 'Герои C.A.R.E' 
    - activePage = 'care'
block content
    .care-slider
        h2.care-slider__title герои c.a.r.e
    .care-block
        .care-block__container.container
            .care-block__main
                i.fas.fa-sort-down
                .main__position Тренер Западного региона
                .main__text влияет на инвестиции, внедрение и использование технологий, которые поддерживают нашу способность обслуживать 70 миллионов глобальных клиентов каждый день.
                h3.main__button история успеха
            .care-block__additional
                .additional__left-side
                    .additional__image
                        .additional__picture(style="background-image: url(static/img/care-person.png);")
                    .additional__name Канжупарова Сабина
                    .additional__position Тренер западного региона
                    .additional__text Найти работу, которую по-настоящему любишь – большой успех! Мне очень повезло попасть в международную организацию. Burger King - это именно та компания, в которую я влюбилась с первого взгляда. Мои достижения – это результат моей упорной работы, и я благодарна безмерной поддержке своей команды, наставников, и конечно же компании.   
                .additional__right-side
                    .additional__block
                        h3.block__title сабира пришла в компанию
                        h3.block__date 10 ноября 2015 года
                        .block__text
                            .text__text Сабира искала работу, которую могла бы совмещать с учебой в университете. Пройдя обучение по международным стандартам, Сабира была принята на должность «кассир-повар» в г. Актобе.  
                            .text__picture-block
                                .picture-block__image
                                    .picture-block__picture(style="background-image: url(static/img/care-image1.png);")
                                h3.picture-block__text Сабира – мастер Легендарного сервиса
                    .additional__block
                        h3.block__title ПОЛУЧИЛА ДОЛЖНОСТЬ «КООРДИНАТОР СМЕНЫ»
                        h3.block__date 1 декабря 2016 года
                        .block__text
                            .text__text Сабира проявила себя как трудолюбивый и ответственный сотрудник.  Благодаря своей лучезарной улыбке, умению быстро обучаться и желанию каждый день получать новые знания от менеджеров ресторана, 1 декабря 2016 года Сабира получила должность «координатора смены».
                            .text__picture-block
                                .picture-block__image
                                    .picture-block__picture(style="background-image: url(static/img/care-image2.png);")
                                h3.picture-block__text Сабира проводит обучение команде ресторана Burger King
                    .additional__block
                        h3.block__title СТАЛА «СТАРШИМ КООРДИНАТОРОМ СМЕНЫ»
                        h3.block__date 5 октября 2017 года
                        .block__text.block__text--solo.block__text--first Проявив исполнительность, и показав отличные результаты в работе, 5 октября 2017 года Сабира успешно сдала аттестацию по ведению смены по международным стандартам и стала «старшим координатором смены».
                    .additional__block
                        h3.block__title ПЕРЕВЕДЕНА НА ДОЛЖНОСТЬ «ТРЕНЕР ЗАПАДНОГО РЕГИОНА»
                        h3.block__date 2 мая 2018 года
                        .block__text.block__text--solo.block__text--first Сабира ответственно подходила к обучению сотрудников, умела найти подход к обучению каждого сотрудника. Благодаря этому, 2 мая 2018 года Сабира была переведена в отдел обучения и контроля стандартов на должность «Тренер Западного региона».
                        .block__text.block__text--solo.block__text--last Сейчас, Сабира занимается обучением и развитием сотрудников 9-ти ресторанов по городам Актобе, Атырау, Уральск, Актау, проводит обучающие тренинги и аудиты по единым международным стандартам, ведет аналитику и отчетность своего региона.
    .care-block
        .care-block__container.container
            .care-block__main
                i.fas.fa-sort-down
                .main__position Директор
                .main__text влияет на инвестиции, внедрение и использование технологий, которые поддерживают нашу способность обслуживать 70 миллионов глобальных клиентов каждый день.
                h3.main__button история успеха
            .care-block__additional
                .additional__left-side
                    .additional__image
                        .additional__picture(style="background-image: url(static/img/care-person.png);")
                    .additional__name Канжупарова Сабина
                    .additional__position Тренер западного региона
                    .additional__text Найти работу, которую по-настоящему любишь – большой успех! Мне очень повезло попасть в международную организацию. Burger King - это именно та компания, в которую я влюбилась с первого взгляда. Мои достижения – это результат моей упорной работы, и я благодарна безмерной поддержке своей команды, наставников, и конечно же компании.   
                .additional__right-side
                    .additional__block
                        h3.block__title сабира пришла в компанию
                        h3.block__date 10 ноября 2015 года
                        .block__text
                            .text__text Сабира искала работу, которую могла бы совмещать с учебой в университете. Пройдя обучение по международным стандартам, Сабира была принята на должность «кассир-повар» в г. Актобе.  
                            .text__picture-block
                                .picture-block__image
                                    .picture-block__picture(style="background-image: url(static/img/care-image1.png);")
                                h3.picture-block__text Сабира – мастер Легендарного сервиса
                    .additional__block
                        h3.block__title ПОЛУЧИЛА ДОЛЖНОСТЬ «КООРДИНАТОР СМЕНЫ»
                        h3.block__date 1 декабря 2016 года
                        .block__text
                            .text__text Сабира проявила себя как трудолюбивый и ответственный сотрудник.  Благодаря своей лучезарной улыбке, умению быстро обучаться и желанию каждый день получать новые знания от менеджеров ресторана, 1 декабря 2016 года Сабира получила должность «координатора смены».
                            .text__picture-block
                                .picture-block__image
                                    .picture-block__picture(style="background-image: url(static/img/care-image2.png);")
                                h3.picture-block__text Сабира проводит обучение команде ресторана Burger King
                    .additional__block
                        h3.block__title СТАЛА «СТАРШИМ КООРДИНАТОРОМ СМЕНЫ»
                        h3.block__date 5 октября 2017 года
                        .block__text.block__text--solo.block__text--first Проявив исполнительность, и показав отличные результаты в работе, 5 октября 2017 года Сабира успешно сдала аттестацию по ведению смены по международным стандартам и стала «старшим координатором смены».
                    .additional__block
                        h3.block__title ПЕРЕВЕДЕНА НА ДОЛЖНОСТЬ «ТРЕНЕР ЗАПАДНОГО РЕГИОНА»
                        h3.block__date 2 мая 2018 года
                        .block__text.block__text--solo.block__text--first Сабира ответственно подходила к обучению сотрудников, умела найти подход к обучению каждого сотрудника. Благодаря этому, 2 мая 2018 года Сабира была переведена в отдел обучения и контроля стандартов на должность «Тренер Западного региона».
                        .block__text.block__text--solo.block__text--last Сейчас, Сабира занимается обучением и развитием сотрудников 9-ти ресторанов по городам Актобе, Атырау, Уральск, Актау, проводит обучающие тренинги и аудиты по единым международным стандартам, ведет аналитику и отчетность своего региона.
    .care-block
        .care-block__container.container
            .care-block__main
                i.fas.fa-sort-down
                .main__position Тренер Северного региона
                .main__text влияет на инвестиции, внедрение и использование технологий, которые поддерживают нашу способность обслуживать 70 миллионов глобальных клиентов каждый день.
                h3.main__button история успеха
            .care-block__additional
                .additional__left-side
                    .additional__image
                        .additional__picture(style="background-image: url(static/img/care-person.png);")
                    .additional__name Канжупарова Сабина
                    .additional__position Тренер западного региона
                    .additional__text Найти работу, которую по-настоящему любишь – большой успех! Мне очень повезло попасть в международную организацию. Burger King - это именно та компания, в которую я влюбилась с первого взгляда. Мои достижения – это результат моей упорной работы, и я благодарна безмерной поддержке своей команды, наставников, и конечно же компании.   
                .additional__right-side
                    .additional__block
                        h3.block__title сабира пришла в компанию
                        h3.block__date 10 ноября 2015 года
                        .block__text
                            .text__text Сабира искала работу, которую могла бы совмещать с учебой в университете. Пройдя обучение по международным стандартам, Сабира была принята на должность «кассир-повар» в г. Актобе.  
                            .text__picture-block
                                .picture-block__image
                                    .picture-block__picture(style="background-image: url(static/img/care-image1.png);")
                                h3.picture-block__text Сабира – мастер Легендарного сервиса
                    .additional__block
                        h3.block__title ПОЛУЧИЛА ДОЛЖНОСТЬ «КООРДИНАТОР СМЕНЫ»
                        h3.block__date 1 декабря 2016 года
                        .block__text
                            .text__text Сабира проявила себя как трудолюбивый и ответственный сотрудник.  Благодаря своей лучезарной улыбке, умению быстро обучаться и желанию каждый день получать новые знания от менеджеров ресторана, 1 декабря 2016 года Сабира получила должность «координатора смены».
                            .text__picture-block
                                .picture-block__image
                                    .picture-block__picture(style="background-image: url(static/img/care-image2.png);")
                                h3.picture-block__text Сабира проводит обучение команде ресторана Burger King
                    .additional__block
                        h3.block__title СТАЛА «СТАРШИМ КООРДИНАТОРОМ СМЕНЫ»
                        h3.block__date 5 октября 2017 года
                        .block__text.block__text--solo.block__text--first Проявив исполнительность, и показав отличные результаты в работе, 5 октября 2017 года Сабира успешно сдала аттестацию по ведению смены по международным стандартам и стала «старшим координатором смены».
                    .additional__block
                        h3.block__title ПЕРЕВЕДЕНА НА ДОЛЖНОСТЬ «ТРЕНЕР ЗАПАДНОГО РЕГИОНА»
                        h3.block__date 2 мая 2018 года
                        .block__text.block__text--solo.block__text--first Сабира ответственно подходила к обучению сотрудников, умела найти подход к обучению каждого сотрудника. Благодаря этому, 2 мая 2018 года Сабира была переведена в отдел обучения и контроля стандартов на должность «Тренер Западного региона».
                        .block__text.block__text--solo.block__text--last Сейчас, Сабира занимается обучением и развитием сотрудников 9-ти ресторанов по городам Актобе, Атырау, Уральск, Актау, проводит обучающие тренинги и аудиты по единым международным стандартам, ведет аналитику и отчетность своего региона.
    .care-send
        - 
            var send = {
                background: '#f7a800',
            }
        include ../modules/send/module