extends ../layout/base

block variables
    - pageTitle = 'FAQ' 
    - activePage = 'faq'
block content
    h2.faq__title Есть ВОПРОСЫ?
    p.faq__text Вы можете задать вопросы и подробнее узнать о работе в BURGER KING
    .faq__container.container
        - 
            var question = {
                question: 'Как устроиться на работу в BURGER KING®?',
                answer: ['При приеме на работу сотрудники проходят обучение по международным стандартам Burger King. Обучение на должность повар-кассир длится 14 рабочих дней по 8 часов. Обучение включает в себя посещение тренингов, практические занятия на кухне, на кассе и в зале ресторана.','Если Вы уже имели опыт работы в сфере общественного питания, Вам также необходимо будет пройти обучение по международным стандартам Burger King, так как технологии Burger King отличаются от технологий других ресторанов.']
            }
        include ../modules/question/module
        - 
            var question = {
                question: 'Я заполнил анкету, но со мной не связались. Почему?',
                answer: ['При приеме на работу сотрудники проходят обучение по международным стандартам Burger King. Обучение на должность повар-кассир длится 14 рабочих дней по 8 часов. Обучение включает в себя посещение тренингов, практические занятия на кухне, на кассе и в зале ресторана.','Если Вы уже имели опыт работы в сфере общественного питания, Вам также необходимо будет пройти обучение по международным стандартам Burger King, так как технологии Burger King отличаются от технологий других ресторанов.']
            }
        include ../modules/question/module
        - 
            var question = {
                question: 'Как долго длится период обучения в Burger King на должность повар-кассир?',
                answer: ['При приеме на работу сотрудники проходят обучение по международным стандартам Burger King. Обучение на должность повар-кассир длится 14 рабочих дней по 8 часов. Обучение включает в себя посещение тренингов, практические занятия на кухне, на кассе и в зале ресторана.','Если Вы уже имели опыт работы в сфере общественного питания, Вам также необходимо будет пройти обучение по международным стандартам Burger King, так как технологии Burger King отличаются от технологий других ресторанов.']
            }
        include ../modules/question/module
        - 
            var question = {
                question: 'На каких условиях проходит обучение в Burger King? ',
                answer: ['При приеме на работу сотрудники проходят обучение по международным стандартам Burger King. Обучение на должность повар-кассир длится 14 рабочих дней по 8 часов. Обучение включает в себя посещение тренингов, практические занятия на кухне, на кассе и в зале ресторана.','Если Вы уже имели опыт работы в сфере общественного питания, Вам также необходимо будет пройти обучение по международным стандартам Burger King, так как технологии Burger King отличаются от технологий других ресторанов.']
            }
        include ../modules/question/module
        - 
            var question = {
                question: 'Какое обучение проходит менеджер?',
                answer: ['При приеме на работу сотрудники проходят обучение по международным стандартам Burger King. Обучение на должность повар-кассир длится 14 рабочих дней по 8 часов. Обучение включает в себя посещение тренингов, практические занятия на кухне, на кассе и в зале ресторана.','Если Вы уже имели опыт работы в сфере общественного питания, Вам также необходимо будет пройти обучение по международным стандартам Burger King, так как технологии Burger King отличаются от технологий других ресторанов.']
            }
        include ../modules/question/module
        - 
            var question = {
                question: 'Как устроиться на работу в BURGER KING®?',
                answer: ['При приеме на работу сотрудники проходят обучение по международным стандартам Burger King. Обучение на должность повар-кассир длится 14 рабочих дней по 8 часов. Обучение включает в себя посещение тренингов, практические занятия на кухне, на кассе и в зале ресторана.','Если Вы уже имели опыт работы в сфере общественного питания, Вам также необходимо будет пройти обучение по международным стандартам Burger King, так как технологии Burger King отличаются от технологий других ресторанов.']
            }
        include ../modules/question/module
    .faq-send
        .send(style="background-color:#f7a800;")
            .send__container.container
                .send__text
                    h3.send__text__first Готов С Нами #[span Работать?]
                    h3.send__text__second Вперед!
                    h3.send__text__third НАПИШИ #[span нам]
                a(href="#").send__button.base-button.learn-more-button Узнать Больше 
