extends ../layout/base

block variables
    - pageTitle = 'Университет BKU' 
    - activePage = 'university'
block content
    .university-slider
        h2.university-slider__title Университет
        h2.university-slider__title Burger King
    .university-about 
        .university-about__container.container
            .university-about__top
                .university-about__text
                    h3.university-about__title Общие сведения
                    p.university-about__info В октября 2016 года был запущен проект BK-Университет в Burger King Kazakhstan. Учебный проект был возглавлен генеральным директором при поддержке отдела обучения и топ-менеджеров Компании.
                    p.university-about__info Компания фокусирует большое внимание на развитие и обучение своих сотрудников, чтобы быть одним из лучших брендов в Казахстане в сегменте фастфуд. Каждый день наши рестораны предоставляют нашим Гостям Легендарный Сервис и только качественную еду под руководством профессионалов своего дела.
                    p.university-about__info Тренинговые модули корпоративного университета Burger King соотвествуют лучшим мировым образцам, в процессе обучения используются одни и самых актуальных методов интерактивного обучения. 
                .university-about__logo
            .university-about__top--small
                .university-about__text
                    .university-about__logo
                    h3.university-about__title Общие сведения 
                p.university-about__info В октября 2016 года был запущен проект BK-Университет в Burger King Kazakhstan. Учебный проект был возглавлен генеральным директором при поддержке отдела обучения и топ-менеджеров Компании.
                    p.university-about__info Компания фокусирует большое внимание на развитие и обучение своих сотрудников, чтобы быть одним из лучших брендов в Казахстане в сегменте фастфуд. Каждый день наши рестораны предоставляют нашим Гостям Легендарный Сервис и только качественную еду под руководством профессионалов своего дела.
                    p.university-about__info Тренинговые модули корпоративного университета Burger King соотвествуют лучшим мировым образцам, в процессе обучения используются одни и самых актуальных методов интерактивного обучения. 
            h2.university-about__structure Структура
            .university-about__list
                - 
                    var description = {
                        title: 'Сбор обратной связи от Директоров ресторанов',
                        image: 'description-1.png',
                        text: 'Производится сбор информации от Директоров ресторанов по их потребностям в обучении'
                    }
                include ../modules/description/module
                - 
                    var description = {
                        title: 'Запрос команде корпоративного университета',
                        image: 'description-2.svg',
                        text: 'Направляется запрос команде BKU, где обсуждаются и определяются потенциальные тренинговые модули, которые наилучшим образом покроют потребности в обучении'
                    }
                include ../modules/description/module
                - 
                    var description = {
                        title: 'Обучение и сертификация топ-менеджеров офиса',
                        image: 'description-3.svg',
                        text: 'Сформированная команда BKU проходит обучение и сертификацию со внешним бизнес-тренером я для получения необходимых навыков для разработки и проведения тренингов'
                    }
                include ../modules/description/module
                - 
                    var description = {
                        title: 'Составление тренинговых модулей',
                        image: 'description-4.svg',
                        text: 'команда BKU разрабатывает тренинговые материалы, где каждый является экспертом в своей области'
                    }
                include ../modules/description/module
                - 
                    var description = {
                        title: 'Проведение обучающих сессий для Директоров со всех регионов страны',
                        image: 'description-5.svg',
                        text: 'Директора со всех регионов приезжают на ежегодную сессию BKU, где получают бесценные знания, обучающие материалы от квалифицированных специалистов каждого отдела; Делятся своим опытом с коллегами с других регионов и получают новые навыки'
                    }
                include ../modules/description/module
                - 
                    var description = {
                        title: 'Сбор обратной связи',
                        image: 'description-6.svg',
                        text: 'Команда BKU собирает обратную связь от Директоров ресторанов касательно проведенных тренингов, чтобы при необходимости дополнить информацию'
                    }
                include ../modules/description/module
                - 
                    var description = {
                        title: 'Внедрение',
                        image: 'description-7.svg',
                        text: 'Директора ресторанов передают приобретенные знания менеджерам ресторанов и применяют новые навыки в работе'
                    }
                include ../modules/description/module
    .university-years
        .university-years__container.container
            .university-years__block
                .university-years__text
                    h3.university-years__title Директора ресторанов
                    h3.university-years__year 2016
                .university-years__images
                    .university-years__image.university-years__image--1(style="background: url(static/img/university-year-1.png) center no-repeat;")
                    .university-years__image.university-years__image--2(style="background: url(static/img/university-year-2.png) center no-repeat;")
                    .university-years__image.university-years__image--3(style="background: url(static/img/university-year-3.png) center no-repeat;")
            .university-years__block
                .university-years__images
                    .university-years__image.university-years__image--4(style="background: url(static/img/university-year-4.png) center no-repeat;")
                    .university-years__image.university-years__image--5(style="background: url(static/img/university-year-5.png) center no-repeat;")
                    .university-years__image.university-years__image--6(style="background: url(static/img/university-year-6.png) center no-repeat;")
                .university-years__text
                    h3.university-years__title Обучение тренеров
                    h3.university-years__year 2018
            .university-years__block
                .university-years__text
                    h3.university-years__title Директора ресторанов
                    h3.university-years__year 2018
                .university-years__images
                    .university-years__image.university-years__image--7(style="background: url(static/img/university-year-7.png) center no-repeat;")
                    .university-years__image.university-years__image--8(style="background: url(static/img/university-year-8.png) center no-repeat;")
                    .university-years__image.university-years__image--9(style="background: url(static/img/university-year-9.png) center no-repeat;")
    - 
            var send = {
                background: '#5da931',
            }
    include ../modules/send/module  