.header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    width: 100%;
    z-index: 10;
    &--replace {
        height: 95px;
    }
    &__container {
        height: 95px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        width: 75px;
        height: 75px;
        border-radius: 50%;
        background: url(./../img/logo.png) center no-repeat;
        background-size: cover;
    }
    &__button {
        display: none;
    }
    &__dropdown {
        display: none;
    }
    &__menu {
        height: 100%;
        width: 75%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .menu {
            &__item {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                padding: 5px;
                text-transform: uppercase;
                color: $brown;
                font-size: 12px;
                font-weight: bold;
                box-sizing: border-box;
                flex-grow: 1;

                &:hover {
                        padding-bottom: 0px;
                        border-bottom: 5px solid $red;
                        color: $red;
                }
            }
        }
    }
    &__mobile {
        background: linear-gradient(#ffffffdd,#ffffffdd), url(./../img/mobile-dropdown.png) center no-repeat;
        background-size: cover;
        z-index: 20;
        display: none;
        position: absolute;
        height: 800px;
        overflow-y: hidden;
        top: 0;
        left: 0;
        width: 100%;
        background-color: white;
        box-sizing: border-box;
        color: $brown;
        padding-top: 15px;
        padding-bottom: 30px;

        &--top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 25px;
            box-sizing: border-box;

            .fa-times {
                font-size: 24px;
                padding: 5px;
                cursor: pointer;
            }
        }        
        .header {
            &__menu {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;

                &--mobile {
                    height: initial
                }
            }
            &__language {
                display: block!important;
                color: $brown;
                border: none;
                i {
                    top: 12px;
                }

                & * {
                    border: none!important;
                    font-size: 14px!important;
                }
                .language
                {
                &__list {
                    top: 5px; 
                    width: 60px;
                    background-color: transparent;
                }
                &__block {
                    width: 60px;
                }
            }
            }
        }
        

        ul {
            display: block;
        }
        .menu {
            &__item {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 52px;
                width: 100%;
                text-transform: uppercase;
                color: $brown;
                font-size: 14px;
                line-height: 52px;

                &.page-active {
                    padding-bottom: 0px;
                    border-bottom: 0; 
                }
            }
            
        }
    }
    &__language {

        color: #9e9e9e;
        font-size: 12px;
        font-weight: bold;
        position: relative;
        box-sizing: border-box;
        border-collapse: collapse;
        
        .language {
            &__block {
                padding-right: 8px;
                width: 55px;
                height: 45px;
                border-radius: 6px;
                border: 1px solid $gray;
                box-sizing: border-box;
                transition-duration: 0s;

                &--opened {
                    border-bottom-right-radius: 0px;
                    border-bottom-left-radius: 0px;
                    border-bottom: 0;
                }
            }
            &__list {
                z-index: 5;
                display: none;
                cursor: pointer;
                position: absolute;
                top: 6px;
                left: 0px;
                border: 1px solid $gray;
                border-top: none;
                width: 55px;
                padding-left: 11px;
                box-sizing: border-box;
                border-bottom-right-radius: 6px;
                border-bottom-left-radius: 6px;
                border-collapse: collapse;
                padding-bottom: 10px;
                box-sizing: border-box;
                line-height: 35px;
                background-color: white;
                padding-bottom: 5px;
            }
            
            &__title {
                padding-left: 11px;
                font-size: 12px;
                width: 100%;
                box-sizing: border-box;
                display: block;
                cursor: pointer;
                text-align: left;
                line-height: 45px;
            }
            &__item {
                line-height: 35px;
            }  
        }
        i {
            position: absolute;
            top: 14px;
            right: 7px;
            z-index: 10;
        }
    }

    .page-active {
        padding-bottom: 0px;
        border-bottom: 5px solid $red; 
        a {
            color: $red;
        }
    }
}

.question-more {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color:rgba(0,0,0,0.5);
    z-index: 20;
    height: 100%;
    
    &__container {
        max-width: 765px;
        margin-top: 100px;
        margin-bottom: 100px;
        display: flex;
        flex-direction: column;
        background-color: white;
        height: initial;
        overflow-y: scroll;
    }
    &__close {
        margin: 30px 30px 20px auto;
        width: 26px;
        height: 26px;
        cursor: pointer;
        font-size: 26px;
        color: black;
    }
    &__title {
        color: black;
        font-size: 40px;
        letter-spacing: 2px;
    }
    &__form {
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-top: 60px;
        padding-bottom: 100px;
    }
    &__button {
        background-color: $red;
        font-size: 26px;
        width: 260px;
        height: 60px;
        line-height: 66px;
        border-radius: 8px;
        margin-top: 50px;

        &:hover {
            background-color: $dark-red; 
        }

    }
    input {
        width: 46%;
    }
    textarea {
        width: 100%;
        height: 220px;
    }
}

.send-resume {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(0,0,0,0.5);
    z-index: 20;

    &--half {
        width: 46%!important;
    }
    &__container {
        max-width: 960px;
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        background-color: white;
        height: initial;
        margin-bottom: 100px;
        overflow-y: scroll;
    }
    &__close {
        margin: 30px 30px 20px auto;
        width: 26px;
        height: 26px;
        cursor: pointer;
        font-size: 26px;
        color: black;
    }
    &__title {
        color: black;
        font-size: 40px;
        letter-spacing: 2px;
    }
    &__select {
        width: 100%;
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 1px;
        color: gray;
        font-family: "Raleway";
        font-weight: bold;
        margin-bottom: 30px;
        position: relative;
        cursor: pointer;
        i { 
            height: 14px;
            font-size: 20px;
            position: absolute;
            right: 30px;
            top: 16px;
        }
        &--opened {
            i {
                transform-origin: 50% 75%;
                transform: rotate(180deg);
            }
        }
    }
    &__select-title {
        border-bottom: 2px solid $gray;
        font-size: 12px!important;
        padding: 16px;
        box-sizing: border-box;
        position: relative;
        
        
        
    }
    &__option-block {
        display: none;
    }
    &__option {
        border-bottom: 2px solid $gray;
        padding: 20px;
        box-sizing: border-box;
        background-color: #e7ecef;
        &:hover {
            padding-left: 16px;
            border-left: 4px solid $yellow;
        }
    }
    &__form {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-top: 60px;
        padding-bottom: 100px;
    }
    &__button {
        background-color: $red;
        font-size: 26px;
        width: 260px;
        height: 60px;
        line-height: 66px;
        border-radius: 8px;
        margin-top: 20px;

        &:hover {
            background-color: $dark-red; 
        }

    }
    &__file {
        text-transform: uppercase;
        color: $blue;
        text-decoration: underline;
        padding-left: 10px!important;
        color: $blue!important;
    }
    i.fa-paperclip {
        color: $blue;
        transform: rotate(-45deg);
    }
    &__condition {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .block__text {
            width: 46%;
        }
    }
    &__block {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        border-bottom: 1px solid $gray;
        padding-bottom: 40px;
        &--last {
            border-bottom: none;
        }

        label {
            margin-bottom: 4px;
            padding: 4px 0px 4px 35px;
            font-size: 13px;
            line-height: 18px;
            color: gray;
            cursor: pointer;
            position: relative;
        }
        #r301 {
            opacity: 0;
            width: 0;
            height: 0;
            box-sizing: border-box;
            position: absolute;
        }
        #r301+div {
            label::before {
                display: none;
            } 
        }
        label::before {
            content: '';
            position: absolute;
            top: 0px;
            left: 0px;
            width: 18px;
            height: 18px;
            border-radius: 4px;
            border: 2px solid $gray;
            box-sizing: border-box;
            z-index: 10;
        }

        input[type='checkbox']:checked+label::before,input[type='radio']:checked+label::before {
                background: url(./../img/checked-mark.png) center no-repeat;
                background-size: cover;
                border: 0px;
            }
        input[type='file'] {
            padding: 0px;
        }
        .block {
            &__title {
                padding-top: 30px;
                font-size: 14px;
                line-height: 18px; 
                font-weight: bold;
                color: $dark-gray;
                padding-bottom: 20px;
            }
            &__text {
                padding-bottom: 20px;
                font-size: 13px;
                line-height: 18px;
                height: 20px;
                color: gray;
                vertical-align: bottom;

                &--select {
                    padding-top: 40px;
                }
            }
            &__file {
                margin-top: 50px;
                margin-bottom: 20px;
            }
        }
    }
    input {
        width: 100%;
    }
    select {
        width: 0!important;
    }
}
@media (max-width: $wrapL){ 
    .question-more {
        &__container {
            margin-top: 20px;
            margin-bottom: 20px;
    }}
    .send-resume {
        &__container {
            margin-top: 20px;
            margin-bottom: 20px;
    }}
}
@media (max-width: $tablet) {
    .header {
        &--replace {
            height: 65px;
        }
        &__container {
            height: 65px;
            display: flex;
        }
        &__logo {
            width: 56px;
            height: 56px;
        }
        &__button {
            display: block;
            width: 153px;
            height: 37px;
            border-radius: 10px;
            font-size: 16px;
            line-height: 41px;
        }
        &__dropdown {
            margin: 2px;
            width: 24px;
            height: 17px;
            display: block;
            background: url(./../img/header-dropdown.png) center no-repeat;
            background-size: cover;
            cursor: pointer;
        }
        &__menu {
            display: none;

            .menu {
                &__item {
                    &:hover {
                        padding-bottom: 5px;
                        border-bottom: 0px;
                    }
                }
            }
        }
        &__language {
            display: none;
        }
    }
    .question-more {
        position: absolute;
        padding-bottom: 500px;
        
        &__container {
            margin-top: 0px;
            height: initial;
        }
        &__close {
            margin: 20px 0px 20px auto;
            width: 26px;
            height: 26px;
            cursor: pointer;
            font-size: 26px;
            color: black;
        }
        &__form {
            padding-top: 40px;
            padding-bottom: 60px;
        }
        &__button {
            background-color: $red;
            font-size: 26px;
            width: 260px;
            height: 60px;
            line-height: 66px;
            border-radius: 8px;
            margin-top: 50px;
    
        }
        input {
            width: 100%;
        }
        textarea {
            width: 100%;
            height: 315px;
        }
    }
    .send-resume {
        select {
            width: 100%;
        }
        &--half {
            width: 100%!important;
        }
        &__container {
            margin-top: 0px;
            display: flex;
            margin-bottom: 0px;
        }
        &__close {
            margin: 20px 0px 20px auto;
            width: 26px;
            height: 26px;
            cursor: pointer;
            font-size: 26px;
            color: black;
        }
        &__form {
            padding-top: 60px;
            padding-bottom: 100px;
        }
        &__condition {
            .block__text {
            width: 100%;
            }
        }
        &__block {
            padding-bottom: 40px;

            .block__text--select {
                padding-top: 0px;
            }
        }
        input {
            width: 100%;
        }
    }
}
