.send(style="background-color:"+send.background+";")
    .send__container.container
        .send__text
            h3.send__text__first Готов С Нами #[span Работать?]
            h3.send__text__second Вперед!
            h3.send__text__third НАПИШИ #[span нам]
        a(href="#").send__button.base-button.send-resume-button Отправить Анкету